<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

 <div id="book">
  <ul>
    <% @books.each do |book| %>
      <li><%= book.title %> by <%= book.author  %></li>
    <% end %>
  </ul>
<div>

<%= form_tag(books_path, method: :post, class: "form", remote: true) do %>
  Title
   <%= text_field_tag  :title %>
   author
   <%= text_field_tag  :author %>
  <%= submit_tag 'save', :name => 'commit'%>
  <% end %>